      <form action="{{ url_for('main.update_user') }}" method="GET">
         <tr>
            <td>
               {{user.id}}
            </td>
            <td>
               {{user.username}}
            </td>
            <td>
               {{user.email}}
            </td>
            <td>
               {{user.name}}
            </td>
            <td>
               {{user.title}}
            </td>
            <td></td>
            <td>
               <input type="hidden" name="uid" value='{{user.id}}'>
               <input type="submit" name="func" value="update">
               <input type="submit" name="func" value="delete">
            </td>
         </tr>
      </form>
